doctype 5
html
  head
    title Coursera Calendar
    link(rel='stylesheet',type='text/css',href='/index.css')
    link(rel='stylesheet',type='text/css',href='/fullcalendar/fullcalendar.css')
    link(rel='stylesheet',type='text/css',href='/fullcalendar/fullcalendar.print.css',media='print')
body
  h1 Coursera Calendar
  .container
  #calendar
  script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script(src='/fullcalendar/fullcalendar.js')
  script(src='/index.js')
